$image-dir: '../images/';

#footer {
  padding: 8px 0 145px 0;
  height: 803px;

  .footer-wrapper {

    padding-bottom: 48px;

    .footer-block {

      padding-top: 17px;

      .footer-item {
        width: 100%;

        &:nth-child(1) {
          order: 2;
        }

        &:nth-child(2) {
          order: 1;
        }

        .footer-nav {
          height: auto;
        }

        .footer-phone {
          background-size: 24px 24px;
          width: 24px;
          height: 24px;
        }

        .footer-fax {
          background-size: 27px 24px;
          width: 27px;
          height: 24px;
        }

        .footer-mail {
          background-size: 27px 24px;
          width: 27px;
          height: 24px;
        }
      }

      .footer-text {
        line-height: 30px;
        font-size: 1em;
      }

      .footer-contact-link {
        height: 24px;
        line-height: 24px;
      }

      .footer-address-item {
        width: 250px;
        &:first-child {
          padding-top: 30px;
        }
      }
    }

  }

  #footer-info {
    flex-wrap: wrap;
  }

  .footer-bottom {
    .terms-modal,
    .agreement-modal {
      text-decoration-line: underline;
      padding-bottom: 10px;
    }
  }

  .terms-modal {
    line-height: 24px;
    text-align: left;
  }
}