$image-dir: '../images/';

.header-container {
  //height: auto;

  .top-bar {

    #desktop-top-bar {
      display: none;
    }

    #mobile-top-bar {
      display: flex;
    }

      .tb-menu-border {
        width: 1px;
        padding: 0;
      }

      .top-bar-menu-link {
        margin-right: 10px;
        font-size: .8em;
      }

      .messager-logo,
      .search-logo {
        height: 20px;
        width: 22px;
        background-size: contain;
      }
  }
}
