$image-dir: '../images/';

#reviews {
  padding: 30px 15px;
  height: auto;

    .reviews-reviewer-name {
      margin-top: 20px;
    }

    .reviews-slr-item {
      min-height: 350px;

      .row .col {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .reviews-image {
      height: 387px;
    }

    .reviews-reviewer-proc, .reviews-review {
      width: auto;
      min-height: unset;
    }

    #reviews-carousel {

      .owl-dots {
        padding-top: 0;
      }
    }

  .reviews-caption {
    height: auto;
    line-height: 30px;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 20px;
  }
}




