#common-info {
  padding: 30px 15px;

  .common-info-caption {
    height: auto;
    line-height: 30px;
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 30px;
  }

  .common-info-vid {
    height: 290px;
    margin: 0;
    width: 90%;
  }
}