$image-dir: '../images/';

#footer {
    .footer-logo {
      height: 62px;
      background-size: 120px 50px;
    }

  .footer-site-map {
    display: inline-block;
    position: relative;
    float: right;
  }
}