$image-dir: '../images/';

.header-container {
  height: auto;

  .top-bar {

    #desktop-top-bar {
      display: none;
    }

    #mobile-top-bar {
      display: flex;
    }

    .tb-menu-border {
      width: 1px;
      padding: 0;
    }

    .top-bar-menu-link {
      margin-right: 10px;
      font-size: .8em;
    }

    .messager-logo,
    .search-logo {
      height: 20px;
      width: 22px;
      background-size: contain;
    }
  }
}

#menu-container {
  margin: 0;
  //z-index: auto;
  .menu-row {
    padding: 0 15px;

    .menu-logo {
      background-size: contain;
      height: 61px;
      width: 167px;
      margin: 0;
      color: #fff;
      font-size: 1em;
      line-height: 24px;
      order: 1;
    }

    .menu-phone-block {
      order: 2;
    }

    .mobile-menu-button {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url($image-dir + "Hamburger.png") transparent no-repeat center;
      background-size: 18px 12px;
      border: none;
      order: 3;

      &:active, &:focus {
        outline: none;
      }
    }
  }

  div.menu {
    display: none;
  }
}

.carousel-div {
  display: none;
}

.header-mobile-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 155px;

  background: url($image-dir + "header/Hero-image_3m.jpg") no-repeat center;
  background-size: cover;
  height: 616px;

  .row {
    width: 90%;
    max-width: 345px;
  }

  .hs-caption {
    font-size: 2.5em;
    letter-spacing: 1px;
    line-height: normal;
  }

  .hs-content {
    line-height: 20px;
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  a.hs-item-button {
    margin: 0;
    height: 48px;
    line-height: 48px;
    min-width: initial;
    width: initial;
  }
}

#mobile-modal {
  .modal-dialog {
    margin: 0;
    max-width: none;
    width: 100%;
    height: 100%;

    .modal-content {
      height: 100%;
      background: linear-gradient(150.41deg, #3023AE, #C86DD7);

      .modal-header {
        justify-content: space-between;
        .close {
          font-size: 2em;
          color: #fff;
          text-shadow: 0 1px 0 #fff;
          font-weight: normal;
          opacity: 1;
        }

        #modal-back-arrow  {
          font-size: 1.5em;
          visibility: hidden;
        }
      }

      .modal-body {
        padding-top: 10%;

        #modal-menu-list {
          padding: 0;
          margin: 0;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;

          li {
            text-transform: uppercase;
            list-style-type: none;
            color: #fff;
            font-size: 1em;
            line-height: 44px;

            ul {
              padding-left: 40px;
              align-items: flex-start;
              display: none;

              li {
                text-transform: none;
                a {
                  font-size: 1em;
                  color: #fff;
                  text-decoration: none;
                  white-space: nowrap;
                  line-height: 44px;

                  &:visited, &:link {
                    text-decoration: none;
                  }
                }
              }
            }
          }

          .modal-inspected {
            width: auto;
            ul {
              display: flex;
            }
          }
        }
      }
    }
  }
}