#news {
  padding: 30px 0;
  height: auto;

  .news-caption {
    font-size: 2em;
    line-height: 40px;
    margin-bottom: 0;
  }

  .news-grid {

    & > .row {

      .news-item {

        padding-top: 20px;

        .news-gi-image {
          height: 268px;
          max-width: none;
        }
      }
    }
  }

  .news-btn {
    height: 56px;
    width: 290px;
    margin: 30px 0 10px 0;
  }
}