#programms {

  .programms-caption {
    font-size: 2em;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: auto;
    width: auto;
  }

  .programms-grid-item {
    margin-top: 0;
    margin-bottom: 20px;
    max-height: none;

    .programms-gi-image {
      height: 304px;
    }

    .programms-gi-text {
      margin: 0;
      line-height: 19px;
      font-size: 1em;
    }

    .programms-gi-link {
      margin: 0;
    }
  }

  .orange-btn {
    display: block;
    width: 345px;
    height: 48px;
    line-height: 48px;
    margin: 30px 0;
  }
}
