#reviews {

  .container {
    max-width: none !important;
  }

  .reviews-image {
    height: 280px;
  }

  .reviews-reviewer-proc {
    min-height: 72px;
  }

  .reviews-review {
    min-height: 230px;
  }
}




