#academy-container {
  padding: 0;

  .owl-stage-outer {
    padding-bottom: 20px;
  }

  .owl-dots {
    .owl-dot span {
      margin: 0 3px;
    }
  }
}

.academy {
  display: block;
  background: linear-gradient(67.51deg, #852EF6 36.76%, #00FFD4 170.53%);

  .academy-caption {
    height: auto;
    white-space: nowrap;
    margin-top: 30px;
    line-height: 30px;
    font-size: 1.5em;
  }

  #academy-carousel {
    margin-top: 30px;
    padding: 0 15px;

    .academy-slr-item-img {
      height: 210px;

      .academy-slr-item-caption {
        height: 20px;
        line-height: 20px;
        font-size: .8em;
      }
    }

    .orange-btn {
      margin: 30px 0;
      width: 345px;
      height: 48px;
      line-height: 48px;
      font-size: 1em;
    }

    .carousel-indicators {
      bottom: 0;

      li {
        height: 6px;
        &.active {
          height: 7px;
          width: 7px;
        }
      }
    }
  }
}