#news {

  .news-grid {

    padding-bottom: 30px;

    & > .row {

      .news-item {

        padding-top: 20px;

        .news-gi-image {
          height: 268px;
        }
      }
    }
  }

  .news-btn {
    height: 48px;
    line-height: 48px;
    margin: 0;
    width: 100%;
  }
}