#programms {

  .programms-caption {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  .programms-grid-item {

    .programms-gi-image {
      height: 220px;
    }
  }

  .orange-btn {
    margin-bottom: 0;
  }
}
