.top-bar {
  .tb-menu-border {
    margin: 0;
  }

  .tb-menu-logo{
    margin: 0 10px;
  }

  .to-hide {
    display: none;
  }

  .top-bar-menu-link {
    margin-right: 10px;
  }

  .call-logo, .search-logo {
    height: 28px;
    width: 18px;
  }
}