$image-dir: '../images/';

#news {
  padding: 30px 0;
  height: auto;

  .news-caption {
    height: auto;
    line-height: 30px;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 20px;
  }

  .news-grid {
    padding-bottom: 30px;

    .news-item {
      padding-bottom: 10px;
      margin: 0;

      .news-gi-image {
        margin-bottom: 20px;
      }

      .news-gi-caption {
        min-height: 10px;
      }

      .news-gi-text {
        min-height: unset;
        margin-bottom: 0;
      }
    }
  }

  .news-btn {
    height: 48px;
    line-height: 48px;
    margin: 0;
    width: 100%;
  }

}