html, body{
    margin: 0;
    padding: 0;
}
@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('/images/plane.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
    .content h2 {
        font-size: 20px;
    }
    .overlay h1 {
        font-size: 40px !important;
    }
}
.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.overlay h1 {
    text-align:center;
    color:#fff;
    font-size: 70px;
    margin-top:17%;
}
.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.content h2 {
    text-align: center;
    font-size: 30px;
}
.content p {
    text-align: justify;
    font-size: 20px;
}
