@font-face {
  font-family: 'Lato';
  src: url(./public/fonts/Lato-Regular-8ab18d934c.eot);
  /* IE9 Compat Modes */
  src: url(./public/fonts/Lato-Regular-8ab18d934c.eot?#iefix) format("embedded-opentype"), url(./public/fonts/Lato-Regular-bd03a2cc27.woff2) format("woff2"), url(./public/fonts/Lato-Regular-27bd77b916.woff) format("woff"), url(./public/fonts/Lato-Regular-6d4e78225d.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal; }

.orange-btn {
  color: #fff;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  background: linear-gradient(82.05deg, #FF8200 54.81%, #FF3400 190%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 28px;
  line-height: 56px;
  margin-bottom: 10px; }
  .orange-btn:hover {
    background: #fff;
    border: 2px solid #FF6200;
    color: #FF8200;
    text-decoration: none; }

.white-link-underline {
  color: #fff; }
  .white-link-underline:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff; }

.white-link-none {
  color: #fff; }
  .white-link-none:hover {
    color: #fff;
    text-decoration: none; }

/*slider indicators li style*/
ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border-radius: 7.5px; }

ol.carousel-indicators li.active {
  border: 2px solid #fff;
  background: #fff; }

/*slider indicators li style end ---------------*/
/*fixed right panel ---------------------------*/
.fixed-right-panel {
  position: fixed;
  width: 72px;
  height: 288px;
  right: 0;
  bottom: 100px;
  background: #fff;
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.364074);
  z-index: 500;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px; }
  .fixed-right-panel div {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 58, 0.1); }
    .fixed-right-panel div:last-child {
      border-bottom: none; }
    .fixed-right-panel div .fixed-pnl-btn-hover {
      display: none;
      background: url(./public/images/fxd-btn-hover-text-539e33d552.png);
      background-size: cover;
      height: 32px;
      min-width: 175px;
      position: absolute;
      right: 80px;
      white-space: nowrap;
      padding-right: 50px;
      padding-left: 10px;
      line-height: 32px;
      font-size: 1em;
      color: #fff;
      top: 50%;
      margin-top: -16px; }
    .fixed-right-panel div .fixed-panel-button {
      width: 72px;
      height: 72px; }
    .fixed-right-panel div .contact-form {
      background: url(./public/images/Contact-form-88c2435a62.png) no-repeat center;
      background-size: 32.4px 36px; }
      .fixed-right-panel div .contact-form:hover {
        background: url(./public/images/Contact-form-hover-26abda9ead.png) no-repeat center; }
    .fixed-right-panel div .live-chat {
      background: url(./public/images/Live-chat-124670d341.png) no-repeat center;
      background-size: 36px; }
      .fixed-right-panel div .live-chat:hover {
        background: url(./public/images/Live-chat-hover-1a6b37684b.png) no-repeat center; }
    .fixed-right-panel div .request-call {
      background: url(./public/images/Request-call-4b536ce99e.png) no-repeat center;
      background-size: 32.4px; }
      .fixed-right-panel div .request-call:hover {
        background: url(./public/images/Request-call-hover-6e5c7ddf41.png) no-repeat center; }
    .fixed-right-panel div .open-case {
      background: url(./public/images/Open-case-25e66fba1b.png) no-repeat center;
      background-size: 32.4px 36px; }
      .fixed-right-panel div .open-case:hover {
        background: url(./public/images/Open-case-hover-a35d7c32d0.png) no-repeat center; }

/*fixed right panel end -----------------------*/
.header-container {
  width: 100%;
  height: 828px; }

/*top bar*/
.top-bar {
  box-shadow: 0 2px 4px rgba(0, 0, 58, 0.5);
  background: linear-gradient(50deg, #852EF6 15.55%, #00FFD4 130.9%);
  background: -webkit-linear-gradient(50deg, #852EF6 15.55%, #00FFD4 130.9%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(50deg, #852EF6 15.55%, #00FFD4 130.9%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(50deg, #852EF6 15.55%, #00FFD4 130.9%);
  /* For Firefox 3.6 to 15 */ }

.tb-menu-border {
  content: "";
  width: 1px;
  height: 28px;
  background: url(./public/images/border-a77f42762f.png) no-repeat 0 0;
  margin: 0 16px; }

.tb-menu-item {
  padding-right: 0;
  padding-left: 0;
  display: table-cell;
  vertical-align: middle; }

.top-bar-menu-link {
  display: inline-block;
  font-size: 1em;
  color: #fff;
  white-space: nowrap;
  padding: 0; }

.tb-menu-logo {
  display: inline-block;
  padding: 0;
  margin-right: 10px; }
  .tb-menu-logo:hover {
    opacity: .5; }

.call-logo,
.search-logo {
  background-size: 18px;
  height: 18px;
  width: 18px; }

.skype-logo:hover,
.messager-logo:hover {
  opacity: 1; }

.skype-logo,
.messager-logo,
.fb-logo, .tw-logo,
.linkedin-logo {
  background-size: 26px;
  height: 26px;
  width: 26px; }

.call-logo {
  background: url(./public/images/ic_call_black_24px-594b6a5087.png) no-repeat center; }

.skype-logo {
  background: url(./public/images/skype_logo-0d72c38d02.png) no-repeat center; }

.messager-logo {
  background: url(./public/images/messager-8184e32de7.png) no-repeat center; }

.search-logo {
  background: url(./public/images/search_icon-ebaea24720.png) no-repeat center; }

.tb-search {
  font-size: 1em;
  color: #fff;
  background-color: transparent;
  border: 0;
  padding: 0;
  min-width: 50px; }
  .tb-search::placeholder {
    color: #fff; }

.fb-logo {
  background: url(./public/images/facebook-d3be65c48c.png) no-repeat center; }

.tw-logo {
  background: url(./public/images/twitter-78a8fa5262.png) no-repeat center; }

.linkedin-logo {
  background: url(./public/images/linkedIn-8ca445e299.png) no-repeat center; }

/*top bar end --------------------*/
/* Rectangle 2 */
/*menu*/
.menu-container {
  margin-top: 14px;
  padding: 10px 0;
  position: absolute;
  z-index: 20; }
  .menu-container .mobile-menu-button {
    display: none; }
  .menu-container .menu-phone-block {
    display: none; }
    .menu-container .menu-phone-block a.white-link-none {
      font-size: 1em;
      line-height: 16px; }

.menu-logo {
  background: url(./public/images/Logo-f6c4044548.png) no-repeat;
  background-size: 223px 82px;
  height: 82px;
  width: 223px;
  margin-right: 10px; }

.menu-item .menu-dropdown {
  position: relative;
  display: inline-block; }
  .menu-item .menu-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1; }
    .menu-item .menu-dropdown .dropdown-content.show-dropdown-content {
      display: block;
      width: 915px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      border-radius: 16px;
      padding: 30px;
      left: -415px;
      top: 130%; }
      .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col h3.row {
        height: 24px;
        line-height: 24px;
        font-size: 1em;
        text-transform: uppercase;
        white-space: nowrap;
        color: #0076FF;
        margin-bottom: 30px; }
      .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col ul.row {
        padding: 0; }
        .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col ul.row li {
          list-style-type: none;
          width: 100%; }
          .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col ul.row li a {
            line-height: 24px;
            font-size: 1em;
            color: #00003A;
            text-decoration: none;
            white-space: nowrap; }
            .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col ul.row li a:visited, .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col ul.row li a:link {
              text-decoration: none; }

.menu-link {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 10px 16px;
  display: inline-block;
  background-color: transparent;
  border: none; }
  .menu-link:active, .menu-link:focus, .menu-link:hover {
    padding-bottom: 7px;
    border-bottom: 3px solid #fff;
    outline: none; }
  .menu-link:visited, .menu-link:link, .menu-link:focus {
    text-decoration: none; }

/*menu end ------------------------------*/
/*menu slider*/
.carousel-div {
  padding: 0; }
  .carousel-div #header-carousel .carousel-item {
    padding-top: 200px;
    padding-bottom: 180px; }

.hs-item {
  width: 570px; }

.hs-caption, .hs-content,
.hs-item-button {
  color: #fff;
  text-align: center; }

.hs-caption {
  font-size: 4.5em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: .75px; }

.hs-content {
  line-height: 32px;
  font-size: 1.5em; }

.hs-item-button {
  width: 370px;
  height: 56px;
  margin-top: 40px; }
  .hs-item-button:visited, .hs-item-button:link {
    text-decoration: none; }

.hs-indicators {
  position: relative;
  top: -60px; }

#hs-sl1 {
  background: url(./public/images/Hero-image_1-5e56da563d.jpg) no-repeat;
  background-size: 100%; }

#hs-sl2 {
  background: url(./public/images/Hero-image_2-ef6bff7fbf.jpg) no-repeat;
  background-size: cover; }

#hs-sl3 {
  background: url(./public/images/Hero-image_3-c171fa890e.jpg) no-repeat;
  background-size: cover; }

/*menu slider end ------------------------------*/
.header-mobile-content {
  display: none; }
#programms {
  padding-right: 0;
  padding-left: 0; }

/*programms*/
.programms-desktop-content {
  padding-bottom: 40px; }

.programms-mobile-content {
  display: none; }

.programms-caption {
  width: 807px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 3em;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #FF8200;
  margin-top: 80px; }

.programms-grid-item {
  max-width: 370px;
  height: 444px;
  margin-top: 60px; }

.programms-gi-image {
  width: 370px;
  height: 220px; }

.programms-gi-caption {
  height: 30px;
  line-height: 30px;
  font-size: 1.5em;
  color: #0076FF;
  text-decoration: none;
  padding: 0;
  margin-top: 20px; }
  .programms-gi-caption:visited, .programms-gi-caption:link, .programms-gi-caption:hover {
    text-decoration: none;
    color: #0076FF; }

.programms-gi-text {
  line-height: 24px;
  font-size: 1em;
  color: #00003A;
  padding: 0;
  margin-top: 10px; }

.programms-gi-link {
  height: 24px;
  min-width: 120px;
  line-height: 24px;
  font-size: 1em;
  text-decoration-line: underline;
  color: #FF9500;
  margin-top: 20px;
  padding: 0;
  background: url(./public/images/arrow-473d65fe8b.png) no-repeat right center;
  background-size: 18px 12px; }
  .programms-gi-link:hover {
    color: #FF9500; }

/*images---------------------------------*/
#programms-pic1 {
  background: url(./public/images/1-f30c028dd5.png) no-repeat;
  background-size: cover; }

#programms-pic2 {
  background: url(./public/images/2-4af33da74e.png) no-repeat;
  background-size: cover; }

#programms-pic3 {
  background: url(./public/images/3-763ce1702f.png) no-repeat;
  background-size: cover; }

#programms-pic4 {
  background: url(./public/images/4-47d913ce56.png) no-repeat;
  background-size: cover; }

#programms-pic5 {
  background: url(./public/images/5-0a5f25e7ff.png) no-repeat;
  background-size: cover; }

#programms-pic6 {
  background: url(./public/images/6-5c5e01e62b.png) no-repeat;
  background-size: cover; }

/*images end-----------------------------*/
/*programms end -------------------------------------*/
/*academy -------------------------------------*/
#academy-container {
  padding-right: 0;
  padding-left: 0; }

.academy {
  background: linear-gradient(67.51deg, #852EF6 36.76%, #00FFD4 170.53%);
  padding-bottom: 30px; }

.academy-mobile-content {
  display: none; }

.academy-caption {
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 3em;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 80px;
  color: #fff; }

#academy-carousel {
  margin-top: 60px; }
  #academy-carousel .carousel-indicators {
    position: relative; }

.academy-slr-item-img {
  height: 220px;
  position: relative; }

.academy-caption-wrapper {
  width: 100%;
  height: 48px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 58, 0.5);
  mix-blend-mode: normal;
  text-align: center; }
  .academy-caption-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.academy-slr-item-caption {
  text-decoration: none;
  color: #fff;
  line-height: 20px;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  width: 97%; }

.academy-slr-item-btn {
  width: 290px;
  height: 56px;
  margin: 60px 0; }

.academy-slr-item-btn:visited,
.academy-slr-item-btn:link {
  text-decoration: none; }

/*images-----------------------*/
.academy-pic1 {
  background: url(./public/images/1-db46adc531.png) no-repeat;
  background-size: cover; }

.academy-pic2 {
  background: url(./public/images/2-6bc69ba7f4.png) no-repeat;
  background-size: cover; }

.academy-pic3 {
  background: url(./public/images/3-cb05d4d12b.png) no-repeat;
  background-size: cover; }

.academy-pic4 {
  background: url(./public/images/4-80433f51c4.png) no-repeat;
  background-size: cover; }

/*images end-------------------*/
/*academy end-------------------------------------*/
/*common-info--------------------------------------------*/
#common-info {
  background: linear-gradient(66.45deg, #FF8200 34.9%, #FF3400 168.52%); }

.common-info-caption {
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 3em;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 80px;
  color: #FFFFFF; }

.common-info-vid {
  width: 770px;
  height: 434px;
  margin: 60px 0; }

/*common-info end----------------------------------------*/
/*process ------------------------------------------*/
.process-caption {
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 3em;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 80px;
  color: #ff9500; }

.process-text, .process-descr {
  line-height: 24px;
  font-size: 1.25em;
  text-align: center;
  color: #000; }

.process-text {
  margin-top: 10px;
  margin-bottom: 60px;
  width: 570px; }

.process-desktop-content {
  display: block; }

.process-mobile-content {
  display: none; }

.process-spider-top {
  max-width: 400px; }

.process-img {
  width: 96px;
  height: 96px; }

.process-descr {
  margin-top: 40px;
  padding: 0 18px; }

.process-spider-bottom {
  max-width: 300px; }

/*images --------------------------*/
.process-spider {
  background: url(./public/images/Group-b2c8f1038b.png) no-repeat center;
  background-size: 902px 500px;
  width: 902px;
  height: 500px;
  margin-bottom: 20px; }

.proc-pic1 {
  background: url(./public/images/1-e844bdd1cd.png) no-repeat center;
  background-size: contain; }

.proc-pic2 {
  background: url(./public/images/2-96750403a2.png) no-repeat center;
  background-size: contain; }

.proc-pic3 {
  background: url(./public/images/3-7bd9d2c403.png) no-repeat center;
  background-size: contain; }

.proc-pic4 {
  background: url(./public/images/4-f0db575b96.png) no-repeat center;
  background-size: contain; }

.proc-pic5 {
  background: url(./public/images/5-67a8fe8cc4.png) no-repeat center;
  background-size: contain; }

.proc-pic6 {
  background: url(./public/images/6-26f8853bef.png) no-repeat center;
  background-size: contain; }

.proc-pic7 {
  background: url(./public/images/7-d71f2af5b9.png) no-repeat center;
  background-size: contain; }

/*images end ----------------------*/
/*process end----------------------------------------*/
/*reviews -------------------------------------------*/
#reviews {
  background: linear-gradient(57.4deg, #852EF6 16.78%, #19D8DA 124.06%, #00FFD4 148.97%);
  height: 998px; }

.descktop-content {
  display: block; }

.mobile-content {
  display: none; }

.reviews-caption {
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 3em;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 60px;
  color: #fff; }

#reviews-carousel .carousel-indicators {
  position: relative;
  margin-top: 60px; }

.reviews-image {
  height: 280px;
  border: 6px solid #fff;
  border-radius: 28px; }

.reviews-reviewer-name,
.reviews-reviewer-proc,
.reviews-review {
  color: #FFFFFF;
  text-align: center;
  width: 340px; }

.reviews-reviewer-name {
  margin-top: 30px;
  line-height: 30px;
  font-size: 1.5em; }

.reviews-reviewer-proc {
  line-height: 24px;
  font-size: 1em;
  padding: 0 10%;
  margin-bottom: 0; }

.reviews-review {
  font-size: 1em;
  margin-bottom: 0; }

.quotes-img {
  background: url(./public/images/quote_black-8714b1c95b.png) no-repeat center;
  background-size: 28px 20px;
  width: 48px;
  height: 48px;
  margin: 10px auto; }

/*images -----------------*/
.reviews-pic1 {
  background: url(./public/images/Review1-20dfc5f966.jpg) no-repeat center;
  background-size: cover; }

.reviews-pic2 {
  background: url(./public/images/Review2-952658dba3.jpg) no-repeat center;
  background-size: cover; }

.reviews-pic3 {
  background: url(./public/images/Review3-59efc6b235.jpg) no-repeat center;
  background-size: cover; }

/*images end-----------------*/
/*reviews end----------------------------------------*/
/*news--------------------------------------------*/
.news-caption {
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 3em;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 60px;
  color: #ff9500; }

.news-item {
  margin: 0 15px; }

.news-gi-image {
  max-width: 370px;
  height: 280px;
  display: block;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  margin-bottom: 30px; }

.news-gi-caption {
  line-height: 30px;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0;
  color: #00003A;
  min-height: 90px; }
  .news-gi-caption:visited, .news-gi-caption:link, .news-gi-caption:hover {
    text-decoration: none;
    color: #00003A; }

.news-gi-text {
  line-height: 24px;
  min-height: 120px;
  font-size: 1em;
  color: #00003A;
  padding: 0;
  margin-top: 10px; }

.news-gi-link {
  height: 24px;
  min-width: 120px;
  line-height: 24px;
  font-size: 1em;
  text-decoration-line: underline;
  color: #FF9500;
  margin-top: 20px;
  background: url(./public/images/arrow-473d65fe8b.png) no-repeat right center;
  background-size: 18px 12px; }
  .news-gi-link:hover {
    color: #FF9500; }

.news-btn {
  height: 56px;
  width: 290px;
  margin: 60px 0; }

/*images---------------------------------*/
#news-pic1 {
  background: url(./public/images/1-4a97af2259.jpg) no-repeat;
  background-size: cover; }

#news-pic2 {
  background: url(./public/images/2-24d2e5b1ae.jpg) no-repeat;
  background-size: cover; }

#news-pic3 {
  background: url(./public/images/3-cd9279e57d.jpg) no-repeat;
  background-size: cover; }

/*images end-----------------------------*/
/*news end----------------------------------------*/
/*footer -----------------------------------------*/
#footer {
  height: 372px;
  background: linear-gradient(82.05deg, #FF8200 54.81%, #FF3400 190%);
  padding: 8px 0 64px 0; }

.footer-text {
  line-height: 30px;
  font-size: 1em;
  color: #fff; }

.footer-wrapper {
  background: #001733;
  height: 100%; }

.footer-block {
  padding-top: 50px; }

.footer-bottom {
  height: 64px; }

.footer-logo {
  background: url(./public/images/Logo-f6c4044548.png) no-repeat;
  background-size: 223px 82px;
  height: 82px;
  width: 223px;
  margin-right: 76px;
  display: block; }

.footer-item {
  width: 270px;
  padding-top: 16px; }

.footer-nav {
  height: 180px; }

.footer-nav-item,
.footer-site-map {
  text-decoration-line: underline;
  padding: 0; }

.footer-contact-item {
  padding: 8px 0; }

.footer-contact-link {
  margin-left: 20px;
  height: 24px;
  line-height: 24px; }

.footer-address-item {
  margin-bottom: 30px; }

.footer-address-name {
  line-height: 24px;
  text-transform: uppercase;
  margin: 0; }

.footer-address {
  line-height: 20px;
  margin: 0; }

.footer-socials {
  width: 300px; }

.footer-site-map {
  width: 540px; }

/*images------------*/
.footer-phone {
  background: url(./public/images/ic_call_black_24px-f238462202.png) no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px; }

.footer-fax {
  background: url(./public/images/ic_local_printshop_black_24px-76ea15a14c.png) no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px; }

.footer-mail {
  background: url(./public/images/ic_email_black_24px-32c2d322f7.png) no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px; }

/*images end---------*/
/*footer end -------------------------------------*/
@charset "UTF-8";
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
  .top-bar-menu-link {
    font-size: .9em; }
  .tb-search {
    font-size: .9em; }
    .tb-search::placeholder {
      color: #fff;
      font-size: .9em; }
  .academy-slr-item-img {
    height: 200px; }
  .academy-slr-item-caption {
    font-size: .75em; }
  .process-spider-top {
    max-width: 310px; }
  .process-spider {
    background-size: 701px 357px;
    width: 701px;
    height: 357px; }
  .process-text, .process-descr {
    font-size: 1em; }
  .process-spider-bottom {
    max-width: 235px; }
  .reviews-reviewer-name,
  .reviews-reviewer-proc,
  .reviews-review {
    width: 300px; }
  .news-gi-text {
    min-height: 170px; }
  .footer-logo {
    margin-right: 30px; }
  .footer-contact-link {
    margin-left: 10px;
    font-size: 0.9em;
    height: 18px;
    line-height: 18px; }
  .footer-phone,
  .footer-fax,
  .footer-mail {
    background-size: 18px 18px;
    width: 18px;
    height: 18px; }
  .footer-site-map, .footer-cr {
    font-size: .8em; } }

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
  .top-bar-menu-link {
    font-size: .8em; }
  .menu-item .menu-dropdown .dropdown-content.show-dropdown-content {
    width: 700px;
    left: -240px; }
    .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col {
      margin-left: 15px; }
      .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col:first-child {
        margin: 0; }
      .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col h3.row {
        height: 24px;
        line-height: 24px;
        font-size: .9em; }
      .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col ul.row {
        padding: 0; }
        .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col ul.row li {
          list-style-type: none;
          width: 100%; }
          .menu-item .menu-dropdown .dropdown-content.show-dropdown-content .col ul.row li a {
            line-height: 24px;
            font-size: .9em; }
  .menu-link {
    font-size: .9em; }
  .call-logo,
  .search-logo {
    background-size: 13px;
    height: 13px;
    width: 13px; }
  .skype-logo,
  .messager-logo,
  .fb-logo, .tw-logo,
  .linkedin-logo {
    background-size: contain;
    height: 18px;
    width: 18px; }
  .hs-item-button {
    min-width: 340px; }
  .academy-slr-item-img {
    height: 140px; }
  .academy-slr-item-caption {
    font-size: .5em;
    line-height: 12px;
    height: 30px; }
  .common-info-vid {
    width: 570px;
    height: 300px;
    margin: 30px 0; }
  .process-spider-top {
    max-width: 222px; }
  .process-spider {
    background-size: 501px 257px;
    width: 501px;
    height: 257px; }
  .process-text, .process-descr {
    font-size: .9em;
    line-height: 20px; }
  .process-spider-bottom {
    max-width: 175px; }
  .reviews-reviewer-name,
  .reviews-reviewer-proc,
  .reviews-review {
    width: 220px; }
  .news-gi-caption {
    line-height: 16px;
    font-size: 1em;
    min-height: 60px; }
  .news-gi-text {
    line-height: 16px;
    min-height: 115px;
    font-size: .8em;
    margin-top: 5px; }
  .news-gi-link {
    height: 16px;
    line-height: 16px;
    font-size: .7em;
    margin-top: 10px; }
  .news-gi-arrow {
    width: 18px;
    height: 16px;
    background: url(./public/images/arrow-473d65fe8b.png) no-repeat center;
    background-size: 18px 12px;
    margin-top: 10px;
    margin-left: 15px; }
  .footer-text {
    font-size: .7em;
    line-height: 24px; }
  .footer-logo {
    margin-right: 15px;
    background-size: contain;
    width: 100%; }
  .footer-contact-link {
    margin-left: 5px;
    line-height: 16px; }
  .footer-phone,
  .footer-fax,
  .footer-mail {
    background-size: 16px 16px;
    width: 16px;
    height: 16px; }
  .footer-cr {
    white-space: nowrap; } }

/* sm-размер (<=768px) */
/* xs-размер (<=575px) */
@media (max-width: 375px) {
  .header-container {
    height: 660px; }
  .top-bar .tb-menu-border {
    margin: 0; }
  .top-bar .tb-menu-logo {
    margin: 0 10px; }
  .top-bar .to-hide {
    display: none; }
  .top-bar .top-bar-menu-link {
    margin-right: 10px; }
  .top-bar .call-logo, .top-bar .search-logo {
    height: 28px;
    width: 18px; }
  .menu-container {
    margin: 0; }
    .menu-container .menu-row {
      padding: 0 15px; }
      .menu-container .menu-row .menu-logo {
        background-size: cover;
        height: 61px;
        width: 167px;
        margin: 0; }
      .menu-container .menu-row .mobile-menu-button {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(./public/images/Hamburger-3e76654d79.png) transparent no-repeat center;
        background-size: 18px 12px;
        border: none; }
        .menu-container .menu-row .mobile-menu-button:active, .menu-container .menu-row .mobile-menu-button:focus {
          outline: none; }
    .menu-container div.menu {
      display: none; }
  .carousel-div {
    display: none; }
  .header-mobile-content {
    display: flex;
    padding-top: 155px;
    background: url(./public/images/Hero-image_3m-57d1cce8f0.jpg) no-repeat center;
    background-size: cover;
    height: 616px; }
    .header-mobile-content .hs-caption {
      font-size: 2.5em;
      letter-spacing: 1px;
      line-height: normal; }
    .header-mobile-content .hs-content {
      line-height: 20px;
      font-size: 1em;
      padding-top: 20px;
      padding-bottom: 40px; }
    .header-mobile-content a.hs-item-button {
      margin: 0;
      height: 48px;
      line-height: 48px;
      min-width: 290px; }
  .programms-desktop-content {
    display: none; }
  .programms-mobile-content {
    display: block; }
    .programms-mobile-content .programms-caption {
      font-size: 1.5em;
      line-height: 30px;
      margin-top: 30px;
      margin-bottom: 20px;
      height: auto; }
    .programms-mobile-content .programms-grid-item {
      margin-top: 0;
      margin-bottom: 20px;
      max-height: 393px; }
      .programms-mobile-content .programms-grid-item .programms-gi-image {
        width: 100%;
        height: 205px; }
      .programms-mobile-content .programms-grid-item .programms-gi-text {
        margin: 0;
        line-height: 19px;
        font-size: 1em; }
      .programms-mobile-content .programms-grid-item .programms-gi-link {
        margin: 0; }
    .programms-mobile-content .orange-btn {
      width: 345px;
      height: 48px;
      line-height: 48px;
      margin-bottom: 30px; }
  .academy {
    display: none; }
  #academy-container {
    padding: 0; }
  .academy-mobile-content {
    display: block;
    background: linear-gradient(67.51deg, #852EF6 36.76%, #00FFD4 170.53%); }
    .academy-mobile-content .academy-caption {
      height: auto;
      white-space: nowrap;
      margin-top: 30px;
      line-height: 30px;
      font-size: 1.5em; }
    .academy-mobile-content #academy-carousel {
      margin-top: 30px;
      padding: 0 15px; }
      .academy-mobile-content #academy-carousel .academy-slr-item-img {
        height: 282px; }
        .academy-mobile-content #academy-carousel .academy-slr-item-img .academy-slr-item-caption {
          height: 20px;
          line-height: 20px;
          font-size: 1em; }
      .academy-mobile-content #academy-carousel .orange-btn {
        margin: 30px 0;
        width: 345px;
        height: 48px;
        line-height: 48px;
        font-size: 1em; }
      .academy-mobile-content #academy-carousel .carousel-indicators {
        bottom: 0; }
        .academy-mobile-content #academy-carousel .carousel-indicators li {
          height: 6px; }
          .academy-mobile-content #academy-carousel .carousel-indicators li.active {
            height: 7px;
            width: 7px; }
  #common-info {
    padding: 30px 15px; }
    #common-info .common-info-caption {
      height: auto;
      line-height: 30px;
      font-size: 1.5em;
      margin: 0;
      padding-bottom: 20px; }
    #common-info .common-info-vid {
      height: 194px;
      margin: 0;
      padding: 0 15px; }
  #process {
    padding: 30px; }
    #process .process-caption {
      height: auto;
      line-height: 30px;
      font-size: 1.5em;
      margin: 0;
      padding-bottom: 20px; }
    #process .process-text {
      line-height: 20px;
      font-size: 1em;
      margin: 0;
      padding-bottom: 30px; }
    #process .process-desktop-content {
      display: none; }
    #process .process-mobile-content {
      display: block; }
      #process .process-mobile-content .process-spider {
        background: url(./public/images/image@1x-4ee0c4bc8c.png) left center no-repeat;
        background-size: contain;
        margin: 0 0 30px 0;
        height: 813px;
        padding-left: 110px;
        overflow: hidden; }
        #process .process-mobile-content .process-spider .process-step {
          overflow: hidden;
          margin-bottom: 8px; }
        #process .process-mobile-content .process-spider .process-step.-step1 {
          height: 89.6px; }
        #process .process-mobile-content .process-spider .process-step.-step2 {
          height: 67.2px; }
        #process .process-mobile-content .process-spider .process-step.-step3 {
          height: 140px;
          margin-bottom: 140px; }
        #process .process-mobile-content .process-spider .process-step.-step4 {
          height: 89.6px; }
        #process .process-mobile-content .process-spider .process-step.-step5 {
          height: 89.6px; }
        #process .process-mobile-content .process-spider .process-step.-step6 {
          height: 67.2px; }
        #process .process-mobile-content .process-spider .process-step.-step7 {
          height: 89.6px; }
        #process .process-mobile-content .process-spider .process-step-inner {
          display: table;
          width: 100%;
          height: 100%; }
        #process .process-mobile-content .process-spider .process-step-text {
          display: table-cell;
          vertical-align: middle; }
    #process .academy-slr-item-btn {
      width: 345px;
      height: 48px;
      line-height: 48px;
      margin: 0; }
  #reviews {
    padding: 30px 15px;
    height: auto; }
    #reviews .descktop-content {
      display: none; }
    #reviews .mobile-content {
      display: block; }
      #reviews .mobile-content .reviews-reviewer-name {
        margin-top: 20px; }
      #reviews .mobile-content .reviews-slr-item {
        min-height: 350px; }
        #reviews .mobile-content .reviews-slr-item .row .col {
          padding-left: 0;
          padding-right: 0; }
      #reviews .mobile-content .reviews-image {
        height: 261px; }
      #reviews .mobile-content .reviews-reviewer-proc, #reviews .mobile-content .reviews-review {
        width: auto; }
      #reviews .mobile-content #reviews-carousel .carousel-indicators {
        margin-top: 20px; }
    #reviews .reviews-caption {
      height: auto;
      line-height: 30px;
      font-size: 1.5em;
      margin: 0;
      padding-bottom: 20px; }
  #news {
    padding: 30px 0;
    height: auto; }
    #news .news-caption {
      height: auto;
      line-height: 30px;
      font-size: 1.5em;
      margin: 0;
      padding-bottom: 20px; }
    #news .news-grid {
      padding-bottom: 30px; }
      #news .news-grid .news-item {
        padding-bottom: 10px;
        margin: 0; }
        #news .news-grid .news-item .news-gi-image {
          margin-bottom: 20px; }
        #news .news-grid .news-item .news-gi-caption {
          min-height: 10px; }
        #news .news-grid .news-item .news-gi-text {
          min-height: unset;
          margin-bottom: 0; }
    #news .news-btn {
      height: 48px;
      line-height: 48px;
      margin: 0;
      width: 330px; }
  #footer {
    height: auto;
    padding-bottom: 0; }
    #footer .footer-wrapper {
      padding: 0; }
      #footer .footer-wrapper .footer-block {
        padding-top: 17px; }
        #footer .footer-wrapper .footer-block .footer-logo {
          height: 62px;
          background-size: 168px 62px; }
        #footer .footer-wrapper .footer-block .footer-item {
          width: 100%; }
          #footer .footer-wrapper .footer-block .footer-item:nth-child(1) {
            order: 2; }
          #footer .footer-wrapper .footer-block .footer-item:nth-child(2) {
            order: 1; }
          #footer .footer-wrapper .footer-block .footer-item .footer-nav {
            height: auto; }
          #footer .footer-wrapper .footer-block .footer-item .footer-phone {
            background-size: 24px 24px;
            width: 24px;
            height: 24px; }
          #footer .footer-wrapper .footer-block .footer-item .footer-fax {
            background-size: 27px 24px;
            width: 27px;
            height: 24px; }
          #footer .footer-wrapper .footer-block .footer-item .footer-mail {
            background-size: 27px 24px;
            width: 27px;
            height: 24px; }
        #footer .footer-wrapper .footer-block .footer-text {
          line-height: 30px;
          font-size: 1em; }
        #footer .footer-wrapper .footer-block .footer-contact-link {
          height: 24px;
          line-height: 24px; }
        #footer .footer-wrapper .footer-block .footer-address-item {
          width: 270px; }
          #footer .footer-wrapper .footer-block .footer-address-item:first-child {
            padding-top: 30px; }
    #footer .footer-site-map {
      font-size: 1em;
      text-align: right; }
    #footer #footer-socials,
    #footer #footer-map {
      max-width: 47%; }
    #footer #footer-map div.col-5 {
      display: none; }
    #footer #footer-socials {
      margin-left: 15px; } }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .fixed-right-panel div .fixed-pnl-btn-hover {
    display: none;
    background: url(./public/images/fxd-btn-hover-text@2x-87a1983d87.png);
    background-size: cover; }
  .fixed-right-panel div .contact-form {
    background: url(./public/images/Contact-form@2x-d36729ef16.png) no-repeat center;
    background-size: 32.4px 36px; }
    .fixed-right-panel div .contact-form:hover {
      background: url(./public/images/Contact-form-hover@2x-cf82a56d1c.png) no-repeat center;
      background-size: 32.4px 36px; }
  .fixed-right-panel div .live-chat {
    background: url(./public/images/Live-chat@2x-b4a84f2741.png) no-repeat center;
    background-size: 36px; }
    .fixed-right-panel div .live-chat:hover {
      background: url(./public/images/Live-chat-hover@2x-d62cf352ec.png) no-repeat center;
      background-size: 36px; }
  .fixed-right-panel div .request-call {
    background: url(./public/images/Request-call@2x-e8b28a4927.png) no-repeat center;
    background-size: 32.4px; }
    .fixed-right-panel div .request-call:hover {
      background: url(./public/images/Request-call-hover@2x-2d4ff4ec9b.png) no-repeat center;
      background-size: 32.4px; }
  .fixed-right-panel div .open-case {
    background: url(./public/images/Open-case@2x-109a30d073.png) no-repeat center;
    background-size: 32.4px 36px; }
    .fixed-right-panel div .open-case:hover {
      background: url(./public/images/Open-case-hover@2x-22dc412389.png) no-repeat center;
      background-size: 32.4px 36px; }
  .mobile-menu-button {
    background: url(./public/images/Hamburger@2x-8cf93ce8ec.png) transparent no-repeat center;
    background-size: 18px 12px; }
  .call-logo {
    background: url(./public/images/ic_call_black_24px2x-c04a22c3c0.png) no-repeat center;
    background-size: 18px; }
  .skype-logo {
    background: url(./public/images/skype_logo2x-fdd4160b62.png) no-repeat center;
    background-size: cover; }
  .messager-logo {
    background: url(./public/images/messager2x-b82f657853.png) no-repeat center;
    background-size: cover; }
  .search-logo {
    background: url(./public/images/Search_icon2x-ce39146696.png) no-repeat center;
    background-size: 18px; }
  .fb-logo {
    background: url(./public/images/facebook2x-df2cbb5217.png) no-repeat center;
    background-size: 14px; }
  .tw-logo {
    background: url(./public/images/twitter2x-2e0cd40e7c.png) no-repeat center;
    background-size: 26px; }
  .linkedin-logo {
    background: url(./public/images/LinkedIn2x-b32bd9e015.png) no-repeat center;
    background-size: cover; }
  #programms-pic1 {
    background: url(./public/images/1_2x-b17a3ffa63.png) no-repeat;
    background-size: cover; }
  #programms-pic2 {
    background: url(./public/images/2_2x-f213ea76ca.png) no-repeat;
    background-size: cover; }
  #programms-pic3 {
    background: url(./public/images/4_2x-8aa070a9f6.png) no-repeat;
    background-size: cover; }
  #programms-pic4 {
    background: url(./public/images/4_2x-8aa070a9f6.png) no-repeat;
    background-size: cover; }
  #programms-pic5 {
    background: url(./public/images/5_2x-71ac206b8a.png) no-repeat;
    background-size: cover; }
  #programms-pic6 {
    background: url(./public/images/6_2x-28955543bd.png) no-repeat;
    background-size: cover; }
  .programms-gi-arrow {
    background: url(./public/images/arrow2x-4df9726583.png) no-repeat center;
    background-size: 18px 12px; }
  .academy-pic1 {
    background: url(./public/images/1_2x-db46adc531.png) no-repeat;
    background-size: cover; }
  .academy-pic2 {
    background: url(./public/images/2_2x-6bc69ba7f4.png) no-repeat;
    background-size: cover; }
  .academy-pic3 {
    background: url(./public/images/3_2x-cb05d4d12b.png) no-repeat;
    background-size: cover; }
  .academy-pic4 {
    background: url(./public/images/4_2x-80433f51c4.png) no-repeat;
    background-size: cover; }
  .reviews-pic1 {
    background: url(./public/images/Review1m-acf2cfdedf.jpg) no-repeat;
    background-size: cover; }
  .reviews-pic2 {
    background: url(./public/images/Review2m-acf2cfdedf.jpg) no-repeat;
    background-size: cover; }
  .reviews-pic3 {
    background: url(./public/images/Review3m-acf2cfdedf.jpg) no-repeat;
    background-size: cover; }
  .quotes-img {
    background: url(./public/images/quote_black@2x-d21d731106.png) no-repeat center;
    background-size: 28px 20px; }
  #news-pic1 {
    background: url(./public/images/m1-ad44fe2279.jpg) no-repeat;
    background-size: cover; }
  #news-pic2 {
    background: url(./public/images/m2-ec43118176.jpg) no-repeat;
    background-size: cover; }
  #news-pic3 {
    background: url(./public/images/m3-ec43118176.jpg) no-repeat;
    background-size: cover; }
  .footer-phone {
    background: url(./public/images/ic_call_black_24px@2x-888f4c91f7.png) no-repeat;
    background-size: cover; }
  .footer-fax {
    background: url(./public/images/ic_local_printshop_black_24px@2x-1ee2352d8e.png) no-repeat;
    background-size: cover; }
  .footer-mail {
    background: url(./public/images/ic_email_black_24px@2x-9a6356d598.png) no-repeat;
    background-size: cover; }
  .process-spider {
    background: url(./public/images/Group@2x-ff740e0174.png) no-repeat center;
    background-size: 902px 500px; }
  .proc-pic1 {
    background: url(./public/images/1@2x-85a6303374.png) no-repeat center;
    background-size: contain; }
  .proc-pic2 {
    background: url(./public/images/2@2x-64a7cf9f2d.png) no-repeat center;
    background-size: contain; }
  .proc-pic3 {
    background: url(./public/images/3@2x-84f10fbd3e.png) no-repeat center;
    background-size: contain; }
  .proc-pic4 {
    background: url(./public/images/4@2x-b3f5f1960b.png) no-repeat center;
    background-size: contain; }
  .proc-pic5 {
    background: url(./public/images/5@2x-fe8893ccff.png) no-repeat center;
    background-size: contain; }
  .proc-pic6 {
    background: url(./public/images/6@2x-c8e64b3edd.png) no-repeat center;
    background-size: contain; }
  .proc-pic7 {
    background: url(./public/images/7@2x-b3623f18aa.png) no-repeat center;
    background-size: contain; } }
