$image-dir: '../images/';

/*academy -------------------------------------*/
.academy {
  background: linear-gradient(67.51deg, #852EF6 36.76%, #00FFD4 170.53%);
  padding-bottom: 30px;
}

.academy-mobile-content {
  display: none;
}

.academy-caption {
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 3em;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 80px;
  color: #fff;
}

#academy-carousel {
  margin-top: 60px;

  .carousel-indicators {
    position: relative;
  }
}

.academy-slr-item-img {
  height: 220px;
  position: relative;
}

.academy-caption-wrapper {
  width: 100%;
  height: 48px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 58, 0.5);;
  mix-blend-mode: normal;
  text-align: center;
  //white-space: nowrap;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.academy-slr-item-caption {
  text-decoration: none;
  color: #fff;
  line-height: 20px;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  width: 97%;
}

.academy-slr-item-btn {
  width: 290px;
  height: 56px;
  margin: 60px 0;
}

.academy-slr-item-btn:visited,
.academy-slr-item-btn:link {
  text-decoration: none;
}

/*images-----------------------*/
.academy-pic1 {
  background: url($image-dir + "academy/1.png") no-repeat;
  background-size: cover;
}

.academy-pic2 {
  background: url($image-dir + "academy/2.png") no-repeat;
  background-size: cover;
}

.academy-pic3 {
  background: url($image-dir + "academy/3.png") no-repeat;
  background-size: cover;
}

.academy-pic4 {
  background: url($image-dir + "academy/4.png") no-repeat;
  background-size: cover;
}

/*images end-------------------*/
/*academy end-------------------------------------*/