$image-dir: '../images/';

#et_builder_outer_content {

  #academy-row {

    .row-caption {}

    .et_pb_slider {}

    .orange-btn {
      &:hover {
        padding: 10px 20px 6px 20px !important;
      }

      &::after {
        display: none !important;
      }
    }
  }
}