$image-dir: '../images/';

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */

  .top-bar-menu-link {
    font-size: .9em;
  }

  .tb-search {
    font-size: .9em;

    &::placeholder {
      color: #fff;
      font-size: .9em;
    }
  }

  .academy-slr-item-img {
    height: 200px;
  }

  .academy-slr-item-caption {
    font-size: .75em;
  }

  .process-spider-top {
    max-width: 310px;
  }

  .process-spider {
    background-size: 701px 357px;
    width: 701px;
    height: 357px;
  }

  .process-text, .process-descr {
    font-size: 1em;
  }

  .process-spider-bottom {
    max-width: 235px;
  }

  .reviews-reviewer-name,
  .reviews-reviewer-proc,
  .reviews-review {
    width: 300px;
  }

  .reviews-review {
    min-height: 170px;
  }

  .news-gi-text {
    min-height: 170px;
  }

  .footer-logo {
    margin-right: 30px;
  }

  .footer-contact-link {
    margin-left: 10px;
    font-size: 0.9em;
    height: 18px;
    line-height: 18px;
  }

  .footer-phone,
  .footer-fax,
  .footer-mail {
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }

  .footer-site-map, .footer-cr {
    font-size: .8em;
  }

  .footer-site-map {
    padding-left: 40px;
  }
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */

  .to-hide {
    display: none;
  }

  @import "./mobile/991/header@991px";
  .academy-slr-item-img {
    height: 140px;
  }

  .academy-caption-wrapper {
    height: 30px;
  }

  .academy-slr-item-caption {
    font-size: 0.7em;
    line-height: 15px;
    height: 30px;
  }

  .common-info-vid {
    width: 570px;
    height: 300px;
    margin: 30px 0;
  }

  .process-spider-top {
    max-width: 222px;
  }

  .process-spider {
    background-size: 501px 257px;
    width: 501px;
    height: 257px;
  }

  .process-text, .process-descr {
    font-size: .9em;
    line-height: 20px;
  }

  .process-spider-bottom {
    max-width: 175px;
  }

  .reviews-reviewer-name,
  .reviews-reviewer-proc,
  .reviews-review {
    width: 220px;
  }

  .reviews-reviewer-proc {
    min-height: 72px;
  }

  .reviews-review {
    min-height: 220px;
  }

  .news-gi-caption {
    line-height: 16px;
    font-size: 1em;
    min-height: 60px;
  }

  .news-gi-text {
    line-height: 16px;
    min-height: 115px;
    font-size: .8em;
    margin-top: 5px;
  }

  .news-gi-link {
    height: 16px;
    line-height: 16px;
    font-size: .7em;
    margin-top: 10px;
  }

  .news-gi-arrow {
    width: 18px;
    height: 16px;
    background: url($image-dir + 'arrow.png') no-repeat center;
    background-size: 18px 12px;
    margin-top: 10px;
    margin-left: 15px;
  }

  .footer-text {
    font-size: .7em;
    line-height: 24px;
  }

  .footer-logo {
    margin-right: 15px;
    background-size: contain;
    width: 100%;
  }

  .footer-contact-link {
    margin-left: 5px;
    line-height: 16px;
  }

  .footer-phone,
  .footer-fax,
  .footer-mail {
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
  }

  .footer-site-map {
    padding-left: 30px;
  }

  .footer-cr {
    white-space: nowrap;
  }
}

/* sm-размер (<=768px) */
@media (max-width: 768px) {
  @import "./mobile/768/header@768px";
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {

}

@media (max-width: 375px) {
  @import "mobile/375/global@375px";
  @import "mobile/375/header@375px";
  @import "mobile/375/programms@375px";
  @import "mobile/375/academy@375px";
  @import "mobile/375/common-info@375px";
  @import "mobile/375/process@375px";
  @import "mobile/375/reviews@375px";
  @import "mobile/375/news@375px";
  @import "mobile/375/footer@375px";
}

@media (max-width: 370px) {
  @import "mobile/375/process@370px";
}
