$image-dir: '../images/';

/*reviews -------------------------------------------*/
#reviews-slider {
  background: linear-gradient(57.4deg, #852EF6 16.78%, #19D8DA 124.06%, #00FFD4 148.97%);

  #reviews-carousel {
    padding-bottom: 60px;
    color: #fff;

    .reviews-image {
      height: 280px;
      padding: 0;

      img {
        height: 100%;
        width: 100%;
        border: 6px solid #fff;
        border-radius: 28px;
      }
    }

    .reviews-slr-item {
      padding: 0;
    }

    .reviews-reviewer-name,
    .reviews-reviewer-proc,
    .reviews-review {
      color: #FFFFFF;
      text-align: center;
    }

    .reviews-reviewer-name {
      margin-top: 30px;
      line-height: 30px;
      font-size: 1.5em;
    }

    .reviews-reviewer-proc {
      min-height: 48px;
      line-height: 24px;
      font-size: 1em;
      padding: 0 10%;
      margin-bottom: 0;
    }

    .reviews-review {
      font-size: 1em;
      margin-bottom: 0;
      min-height: 150px;
    }

    .quotes-img {
      background: url($image-dir + 'quote_black.png') no-repeat center;
      background-size: 28px 20px;
      width: 48px;
      height: 48px;
      margin: 10px auto;
    }

    .owl-nav.disabled + .owl-dots {
      margin-top: 10px;
      padding-top: 30px;
    }

    .owl-dots {
      text-align: center;
      -webkit-tap-highlight-color: transparent;
    }
    .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline;
    }
    .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px;
    }
    .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #D6D6D6;
    }

  }
}

/*images end-----------------*/
/*reviews end----------------------------------------*/
