$image-dir: '../images/';

#news {
  padding: 30px 0;
  height: auto;

  .news-caption {
    margin-top: 0;
    margin-bottom: 40px;
  }


  .news-grid {

    & > .row {
      flex-wrap: nowrap;
      overflow-x: hidden;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;

      .news-item {
        max-width: none;

        .news-gi-image {
          max-width: none;
          height: 360px;
        }
      }
    }
  }

  .news-gi-caption {
    line-height: 30px;
    font-size: 1.5em;
    min-height: 60px;
  }

  .news-gi-text {
    line-height: 20px;
    min-height: 90px;
    font-size: 1em;
    margin-top: 5px;
  }

  .news-gi-link {
    height: 20px;
    line-height: 20px;
    font-size: 1em;
    margin-top: 10px;
  }
}